rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /notes/{yearId}/{subjectId}/{noteId}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.resource.contentType.matches('text/markdown|text/html|application/pdf')
        && (
          (request.resource.contentType == 'application/pdf' && request.resource.size < 25 * 1024 * 1024)
          || (request.resource.contentType != 'application/pdf' && request.resource.size < 5 * 1024 * 1024)
        );
      allow delete: if request.auth != null;
    }
  }
}
